body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.fromTop{
  transform : translateY(-30px);
  opacity: 0;
  animation-name: fromTop;
  animation-delay: 0s;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

}

@keyframes fromTop {
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}