body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.fromTop{
  transform : translateY(-30px);
  opacity: 0;
  animation-name: fromTop;
  animation-delay: 0s;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

}

@keyframes fromTop {
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbcbc; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}